table {
    border: 20px solid rgba(58, 73, 101, 1);
    ;
}

.table-head {
    padding: 30px 0;
    border-bottom: 15px solid rgba(58, 73, 101, 1);
    width: 198px;
}

.pp-subtitle {
    font-family: Arimo, sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(72, 72, 72, 1);
    text-transform: uppercase;
}

.pp-title {
    font-family: Arimo, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(72, 72, 72, 1);
    text-transform: uppercase;
}

.table-head1 {
    background: rgba(250, 250, 250, 1);
    width: 160px;
    height: 115px;
    border-bottom: 15px solid rgba(58, 73, 101, 1);
}

.table-head2 {
    background: rgba(227, 227, 227, 1);
    width: 160px;
    border-bottom: 15px solid rgba(58, 73, 101, 1);
}

.head-name {
    font-family: Arimo, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(72, 72, 72, 1);
}

.inf1 {
    font-family: Arimo, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(72, 72, 72, 1);
    padding-top: 65px;
    width: 160px;
    background: rgba(227, 227, 227, 1);
    border-bottom: 1px solid rgb(203, 203, 203);
}

.inf2 {
    font-family: Arimo, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(72, 72, 72, 1);
    padding: 65px 0px;
    width: 160px;
    background: rgba(242, 242, 242, 1);
    border-bottom: 1px solid rgb(203, 203, 203);
}

.standart {
    background: rgba(137, 195, 49, 1);
    padding: 0 23px;
}

.prices-title {
    font-family: Arimo , sans-serif;
font-size: 24px;
font-weight: 700;
line-height: 28px;
letter-spacing: 0px;
text-align: center;
color: rgba(255, 255, 255, 1);
text-transform: uppercase;
position: relative;
}


.prices {
    font-family: Arimo , sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(255, 255, 255, 1);
    margin-top: 10px;
}

.prices-99 {
    font-family: Arimo , sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1); 
    position: relative;
    bottom: 2.2em;
    right: 1.3em;
    
}

.p-month {
    font-family: Arimo , sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1);  
    text-transform: uppercase;
    position: relative;
    bottom: 3.8em;
    left: 2.5em;
}

.prices-btn {
    font-family: Arimo , sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1); 
    text-transform: uppercase;
    background: rgba(65, 65, 65, 1);
    border: none;
    border-radius: 5px;
    border-bottom: 5px solid rgba(52, 52, 52, 1);
    padding: 8px 37px;
    position: relative;
    bottom: 40px;
}


.ultimate {
    background: rgba(240, 74, 86, 1);
    padding: 0 23px;
}

.premium {
    background: rgba(32, 128, 124, 1);
    padding: 0 23px;
}