@import url('https://fonts.googleapis.com/css2?family=Arimo&display=swap');

table {
    border: 30px solid rgba(58, 73, 101, 1);
    ;
}


.pp-subtitle {
    padding: 30px 90px;
    font-family: Arimo, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(72, 72, 72, 1);
}


.pp-title {
    font-family: Arimo, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(72, 72, 72, 1);
    margin-top: 40px;
}

.title1 {
    padding: 30px 100px;
    font-family: Arimo, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background: rgba(137, 195, 49, 1);
}

.title2 {
    padding: 30px 93px;
    font-family: Arimo, sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background: rgba(240, 74, 86, 1);

}

.title3 {
    padding: 0px 108px;
    font-family: Arimo, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
    background: rgba(32, 128, 124, 1);
}

.prices {
    font-family: Arimo, sans-serif;
    font-size: 60px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(72, 72, 72, 1);
    padding: 30px 50px;
    border-left: 1px solid rgba(238, 238, 238, 1);
    padding-bottom: 25px;
    padding-top: 40px;
    position: relative;
}

.p-99 {
    font-family: Arimo, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;
    position: absolute;
    top: 0.5em;
    right: 6em;
}

.p-per-month {
    font-family: Arimo, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: right;
    text-transform: uppercase;
    color: rgba(72, 72, 72, 1);
    position: absolute;
    top: 2.2em;
    right: 3.7em;
}

.table-text1 {
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(72, 72, 72, 1);
    text-transform: uppercase;
    padding: 30px 100px;
    border-left: 1px solid rgb(206, 206, 206);
    background: rgba(242, 242, 242, 1);
}

img {
    margin-right: 5px;
}

.table-text2 {
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(72, 72, 72, 1);
    text-transform: uppercase;
    padding: 30px 100px;
    border-left: 1px solid rgb(206, 206, 206);
    background: rgba(227, 227, 227, 1);
}

.table-footer1 {
    background: rgba(221, 221, 221, 1);
    padding: 30px 90px;
    border-left: 1px solid rgb(206, 206, 206);
}

.table-footer2 {
    background: rgba(238, 238, 238, 1);
    padding: 30px 50px;
    border-left: 1px solid rgb(206, 206, 206);
}

.table-footer3 {
    background: rgba(244, 244, 244, 1);
    padding: 30px 50px;
    border-left: 1px solid rgb(206, 206, 206);
}

.table-footer4 {
    background: rgba(238, 238, 238, 1);
    padding: 30px 50px;
    border-left: 1px solid rgb(206, 206, 206);
}

.table-footer-btn1 {
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    padding: 15px 55px;
    border: none;
    background: rgba(72, 72, 72, 1);
    border-radius: 5px;
    border-bottom: 10px solid rgba(64, 64, 64, 1);
    cursor: pointer;
}

.table-footer-btn2 {
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    padding: 15px 80px;
    border: none;
    background: rgba(137, 195, 49, 1);
    border-radius: 5px;
    border-bottom: 10px solid rgba(121, 176, 39, 1);
    cursor: pointer;
}

.table-footer-btn3 {
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    padding: 15px 80px;
    border: none;
    background: rgba(240, 74, 86, 1);
    border-radius: 5px;
    border-bottom: 10px solid rgba(223, 58, 70, 1);
    cursor: pointer;
}

.table-footer-btn4 {
    font-family: Arimo, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    letter-spacing: 0px;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    padding: 15px 80px;
    border: none;
    background: rgba(32, 128, 124, 1);
    border-radius: 5px;
    border-bottom: 10px solid rgba(22, 115, 111, 1);
    cursor: pointer;    
}